.accordionHeader
{
    border: 1px solid #0000FF;
    color: white;
    background-color: #0033CC;
    font-size: 12px;
    padding: 5px;
    margin-top: 4px;
    cursor: pointer;
    font-family: ו, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.accordionHeaderSelected
{
    border: 1px solid #0000FF;
    color: white;
    background-color: #0033CC;
    font-size: 12px;
    padding: 5px;
    margin-top: 4px;
    cursor: pointer;
    font-family: ו, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.accordionContent
{
    margin: 0px;
    background-color: #FFFFFF;
    border-top: none;
    padding: 0px;
    border-style: none solid solid solid;
    border-color: #0000FF;
    border-width: 1px;
}
.Row
{
    background-color: #ffffff;
}
.HoverRow
{
    background-color: #ccccff;
}
.SelectedRow
{
    border-style: solid none solid none;
    border-width: 1px;
    border-color: #0000FF;
    padding: 7px;
    background-color: #FF9933;
}
